# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

/dist
# testing
/coverage

#dev
/generate_schema.js

.env
.vscode
/concerns.notes
/try.ts
/routes/swagger.yml
routes/swagger.yml
/build
.notes
db.ts
/sql.notes.ts
/docker-compose.yml