{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.jemanaila.dev/saveup",
            "description": "Production server"
        }
    ],
    "info": {
        "title": "API Documentation for Saveup",
        "version": "1.0.0",
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/license/mit/"
        },
        "x-logo": {
            "url": "./signin_tree.jpeg"
        }
    },
    "security": [
        {
            "Authorization": []
        }
    ],
    "components": {
        "securitySchemes": {
            "Authorization": {
                "type": "apiKey",
                "name": "Authorization",
                "in": "header",
                "description": "JWT Bearer token used for user authentication.\n\nThe token must be included in the \"Authorization\" header as:\n\nBearer <token> for secure access to protected routes."
            },
            "Reset": {
                "type": "apiKey",
                "name": "Reset",
                "in": "header",
                "description": "JWT token used to manage the multi-step password reset process.\n\nThe token is generated at each step, and its payload indicates the user's current step.\n\nIt ensures the user cannot skip steps and is required for every request in the reset process."
            }
        },
        "schemas": {},
        "parameters": {}
    },
    "paths": {
        "/saveup/users/config": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Get offer configuration",
                "description": "Returns mock data representing offer configuration for testing purposes.",
                "security": [
                    {
                        "Authorization": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "sample": {
                                        "type": "string",
                                        "description": "Optional sample parameter for testing."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "type": {
                                                "anyOf": [
                                                    {
                                                        "type": "string",
                                                        "enum": [
                                                            "Deposit_Bonus"
                                                        ]
                                                    },
                                                    {
                                                        "type": "string",
                                                        "enum": [
                                                            "New_User_X_Days"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "default_config": {
                                                "anyOf": [
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "maximum_bonus": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "scope": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "country"
                                                                        ],
                                                                        "description": "This value varies by country."
                                                                    },
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "money"
                                                                        ],
                                                                        "description": "Represents a monetary value."
                                                                    },
                                                                    "value": {
                                                                        "type": "object",
                                                                        "additionalProperties": {
                                                                            "type": "number"
                                                                        },
                                                                        "description": "Max bonus amount per country (e.g., { KE: 1000 })."
                                                                    }
                                                                },
                                                                "required": [
                                                                    "scope",
                                                                    "type",
                                                                    "value"
                                                                ],
                                                                "additionalProperties": false,
                                                                "description": "Maximum bonus a user can receive per country."
                                                            },
                                                            "wager_multiplier": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "scope": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "global"
                                                                        ],
                                                                        "description": "Applies globally."
                                                                    },
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "number"
                                                                        ],
                                                                        "description": "Numeric multiplier type."
                                                                    },
                                                                    "value": {
                                                                        "type": "number",
                                                                        "description": "Multiplier applied to the bonus before withdrawal."
                                                                    }
                                                                },
                                                                "required": [
                                                                    "scope",
                                                                    "type",
                                                                    "value"
                                                                ],
                                                                "additionalProperties": false,
                                                                "description": "Wagering requirement multiplier."
                                                            },
                                                            "days_to_wager": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "scope": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "global"
                                                                        ]
                                                                    },
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "number"
                                                                        ]
                                                                    },
                                                                    "value": {
                                                                        "type": "number",
                                                                        "description": "Number of days allowed to meet wagering requirements."
                                                                    }
                                                                },
                                                                "required": [
                                                                    "scope",
                                                                    "type",
                                                                    "value"
                                                                ],
                                                                "additionalProperties": false,
                                                                "description": "Time window (in days) to meet wagering conditions."
                                                            },
                                                            "minimum_deposit": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "scope": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "country"
                                                                        ]
                                                                    },
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "money"
                                                                        ]
                                                                    },
                                                                    "value": {
                                                                        "type": "object",
                                                                        "additionalProperties": {
                                                                            "type": "number"
                                                                        },
                                                                        "description": "Minimum required deposit per country."
                                                                    }
                                                                },
                                                                "required": [
                                                                    "scope",
                                                                    "type",
                                                                    "value"
                                                                ],
                                                                "additionalProperties": false,
                                                                "description": "Minimum deposit amount to qualify for the bonus."
                                                            },
                                                            "percentage_bonus": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "scope": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "global"
                                                                        ]
                                                                    },
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "percentage"
                                                                        ],
                                                                        "description": "Percentage format (e.g. 50 = 50%)."
                                                                    },
                                                                    "value": {
                                                                        "type": "number",
                                                                        "description": "Bonus percentage applied to the deposit."
                                                                    }
                                                                },
                                                                "required": [
                                                                    "scope",
                                                                    "type",
                                                                    "value"
                                                                ],
                                                                "additionalProperties": false,
                                                                "description": "Bonus percentage applied to qualifying deposits."
                                                            }
                                                        },
                                                        "required": [
                                                            "maximum_bonus",
                                                            "wager_multiplier",
                                                            "days_to_wager",
                                                            "minimum_deposit",
                                                            "percentage_bonus"
                                                        ],
                                                        "additionalProperties": false
                                                    },
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "games": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "scope": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "global"
                                                                        ]
                                                                    },
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "array"
                                                                        ]
                                                                    },
                                                                    "value": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "required": [
                                                                    "scope",
                                                                    "type",
                                                                    "value"
                                                                ],
                                                                "additionalProperties": false
                                                            },
                                                            "first_x_days": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "scope": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "global"
                                                                        ]
                                                                    },
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "number"
                                                                        ]
                                                                    },
                                                                    "value": {
                                                                        "type": "number"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "scope",
                                                                    "type",
                                                                    "value"
                                                                ],
                                                                "additionalProperties": false
                                                            },
                                                            "minimum_multiplier": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "scope": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "global"
                                                                        ]
                                                                    },
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "number"
                                                                        ]
                                                                    },
                                                                    "value": {
                                                                        "type": "number"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "scope",
                                                                    "type",
                                                                    "value"
                                                                ],
                                                                "additionalProperties": false
                                                            },
                                                            "number_of_qualifying_bets": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "scope": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "global"
                                                                        ]
                                                                    },
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "number"
                                                                        ]
                                                                    },
                                                                    "value": {
                                                                        "type": "number"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "scope",
                                                                    "type",
                                                                    "value"
                                                                ],
                                                                "additionalProperties": false
                                                            },
                                                            "minimum_stake": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "scope": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "country"
                                                                        ]
                                                                    },
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "money"
                                                                        ]
                                                                    },
                                                                    "value": {
                                                                        "type": "object",
                                                                        "additionalProperties": {
                                                                            "type": "number"
                                                                        }
                                                                    }
                                                                },
                                                                "required": [
                                                                    "scope",
                                                                    "type",
                                                                    "value"
                                                                ],
                                                                "additionalProperties": false
                                                            },
                                                            "daily_win": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "scope": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "country"
                                                                        ]
                                                                    },
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "money"
                                                                        ]
                                                                    },
                                                                    "value": {
                                                                        "type": "object",
                                                                        "additionalProperties": {
                                                                            "type": "number"
                                                                        }
                                                                    }
                                                                },
                                                                "required": [
                                                                    "scope",
                                                                    "type",
                                                                    "value"
                                                                ],
                                                                "additionalProperties": false
                                                            }
                                                        },
                                                        "required": [
                                                            "games",
                                                            "first_x_days",
                                                            "minimum_multiplier",
                                                            "number_of_qualifying_bets",
                                                            "minimum_stake",
                                                            "daily_win"
                                                        ],
                                                        "additionalProperties": false
                                                    }
                                                ]
                                            }
                                        },
                                        "required": [
                                            "type",
                                            "default_config"
                                        ],
                                        "additionalProperties": false
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/saveup/users/{user_id}/verify": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Verify user ID and upload documents",
                "description": "Route to verify a user’s identity by providing ID details and associated documents.",
                "security": [
                    {
                        "Authorization": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "integer",
                                    "minimum": 1,
                                    "description": "The unique numeric user id"
                                },
                                {
                                    "type": "string",
                                    "enum": [
                                        "me"
                                    ],
                                    "description": "- `me`: Special id `me` to rep the currently logged in user.\n"
                                }
                            ]
                        },
                        "required": true,
                        "name": "user_id",
                        "in": "path"
                    },
                    {
                        "schema": {
                            "type": "boolean",
                            "description": "If true, send a notification after verification"
                        },
                        "required": false,
                        "description": "If true, send a notification after verification",
                        "name": "notify",
                        "in": "query"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id_details": {
                                        "type": "object",
                                        "properties": {
                                            "id_type": {
                                                "type": "string",
                                                "enum": [
                                                    "NATIONAL_ID",
                                                    "PASSPORT"
                                                ],
                                                "description": "Type of identification document"
                                            },
                                            "id_number": {
                                                "type": "string",
                                                "pattern": "^(?:[A-Z]{1,2}\\d{6,9}|\\d{8,10}|\\d{13}|\\d{16})$",
                                                "description": "Identification number matching the selected type"
                                            }
                                        },
                                        "required": [
                                            "id_type",
                                            "id_number"
                                        ],
                                        "description": "Object containing ID document details"
                                    },
                                    "documents": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "description": "Document name, e.g., \"Front of ID\""
                                                },
                                                "url": {
                                                    "type": "string",
                                                    "format": "uri",
                                                    "description": "Link to the uploaded document"
                                                }
                                            },
                                            "required": [
                                                "name",
                                                "url"
                                            ]
                                        },
                                        "description": "List of uploaded documents for verification"
                                    }
                                },
                                "required": [
                                    "id_details",
                                    "documents"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether the verification succeeded"
                                        },
                                        "verified_user": {
                                            "type": "object",
                                            "properties": {
                                                "user_id": {
                                                    "type": "number",
                                                    "description": "User ID of the verified user"
                                                },
                                                "verified_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "description": "Timestamp of when the user was verified"
                                                }
                                            },
                                            "required": [
                                                "user_id",
                                                "verified_at"
                                            ],
                                            "additionalProperties": false,
                                            "description": "An object with Information about the verified user"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "verified_user"
                                    ],
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}